/* MAIN */

:root
{
    --darken: #3333337a;
}


/*Dark Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fff0;
}

::-webkit-scrollbar-thumb {
    background: #222;
}

::-webkit-scrollbar-thumb:hover {
    background: #252525;
}

::-webkit-scrollbar-corner {
    background: #0000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* a friendly font */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

body {
    font-family: sans-serif;

    background-color: #333;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

    background:
        linear-gradient(cyan,
            #0000),
        linear-gradient(-45deg,
            magenta,
            #0000),
        linear-gradient(45deg,
            yellow,
            #0000);

    background-blend-mode: multiply;
    background-size: 100% 100%;
    background-position: center center;

    animation: bg 10s linear infinite;

    opacity: 0.25;
}

@keyframes bg {
    from {
        filter: hue-rotate(0deg) saturate(4);
    }

    to {
        filter: hue-rotate(360deg) saturate(4);
    }
}

header,
footer {
    background-color: var(--darken);
    color: #fff;
    padding: 20px;
    text-align: center;

    /* box-shadow: 0 0 10px 5px #0003; */
}

footer
{
    padding: 10px;
    font-size: 0.8rem;
}


footer a
{
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;

    display: flex;
    flex-direction: column;

    gap: 20px;
}

/* USER */

.user-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background-color: var(--darken);

    max-width: 600px;
    width: 100%;

    margin: 0 auto;
    padding: 20px;

    /* border: 1px solid #333; */
    border-radius: 10px;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    /* background-color: var(--darken); */

    padding: 10px;
    border-radius: 10px;
    color: #fff;
}

.user-image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-bottom: 20px;

    border-radius: 13%;
}

.user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

/* LINKS */


/* links container */
.links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background-color: var(--darken);

    max-width: 600px;
    width: 100%;

    margin: 0 auto;
    padding: 20px;

    border-radius: 10px;

    /* box-shadow: 0 0 10px 5px #0003; */
}


/* groups */
.group
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

    /* background-color: var(--darken); */

    max-width: 600px;
    width: 100%;

    margin: 0 auto;
    padding: 20px;

    border: 1px solid #6666;
    border-radius: 10px;

    color: #fff;
}


.link {
    display: grid;
    /* set the colums to min 70px and max auto for the left column, and 3fr for the right */
    grid-template-columns: minmax(70px, auto) 3fr;
    /* set the rows to minimum 30px high and maximum fit content */
    grid-template-rows: 30px min-content;
    grid-template-areas: "image title"
        "image description";

    width: 100%;

    background-color: var(--darken);

    grid-gap: 10px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;

    transition: background-color 500ms ease-in-out, transform 200ms ease-in-out;
}

.link:hover {
    background-color: #333;
    color: #fff;

    transform: scale(1.05);

    transition: background-color 100ms ease-in-out, transform 100ms ease-in-out;
}

/* apply the template areas */
.link-image {
    grid-area: image;
}

.link-title {
    grid-area: title;
}

.link-description {
    grid-area: description;
}

.link-title-expand {
    /* make it take up the title and description areas */
    grid-row-start: title;
    grid-row-end: description;

    /* align text vertically center */
    display: flex;
    align-items: center;
}


.link-image {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    border-radius: 10px;
}

.link-image img {
    width: 100%;
    height: 100%;

    max-height: 70px;
    max-width: 70px;

    object-fit: cover;
}

.link-title {
    font-size: 1.5rem;
    font-weight: bold;
    /* margin-bottom: 10px; */
}

.link-description {
    font-size: 1rem;
}


/* RESPONSIVE */

@media (max-width: 450px) {
    .link {
        grid-template-columns: 1fr;
        grid-template-rows: 64px 50px min-content;
        grid-template-areas: "image"
            "title"
            "description";
    }

    .link:has(.link-image.hide)
    {
        grid-template-rows: 50px min-content;
        grid-template-areas: "title"
            "description";
    }

    .link-image {
        width: auto;
        height: 100%;
        aspect-ratio: 1/0;
        margin: 0 auto;
    }

    .link-image img {
        width: 100%;
        height: 100%;

        max-height: 100%;
        max-width: 100%;

        object-fit: cover;
    }

    .link-title, .link-description
    {
        text-align: center;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}


/* HELPER */

.hide {
    display: none;
}
