
/*Dark Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fff0;
}

::-webkit-scrollbar-thumb {
    background: #222;
}

::-webkit-scrollbar-thumb:hover {
    background: #252525;
}

::-webkit-scrollbar-corner {
    background: #0000;
}

/* Main */

body {
    background-color: #333;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

    background:
        linear-gradient(cyan,
            #0000),
        linear-gradient(-45deg,
            magenta,
            #0000),
        linear-gradient(45deg,
            yellow,
            #0000);

    background-blend-mode: multiply;
    background-size: max(100vw, 100vh) max(100vw, 100vh);
    background-position: center center;

    animation: bg 10s linear infinite;

    opacity: 0.25;
}

@keyframes bg {
    from {
        filter: hue-rotate(0deg) saturate(4);
    }

    to {
        filter: hue-rotate(360deg) saturate(4);
    }
}
